<app-navbar></app-navbar>
<body style="background-color:pink;"></body>
    

<style>
    
    img
    {
        margin-top: 1%;
        margin-left:30%;
        border-radius:50px;
    }
    
</style>
<style>
    body {
      background-image: url('https://previews.123rf.com/images/barashenkov/barashenkov1712/barashenkov171200022/91380896-travel-with-us-text-on-flying-airplane-wing-background-ready-advertisment-of-airlines-or-traveling-c.jpg');
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: cover;
    }
    </style>

<router-outlet>

</router-outlet> 